venv/
__pycache__/
*.pyc
data/*
!data/test_samples/
data/test_samples/*
!data/test_samples/*.png
.env
.vscode/
*.log
mlruns/

trocr_finetuned_checkpoints/
trocr_finetuned_final/
*.pt
*.bin
*.safetensors